/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* -------------------------------STYLES */
body {
    font-family: Arial, sans-serif;
    padding: 30px;
    color: #333;
    transition: all 0.3s linear;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #999;
    background-color: #fff;
}

form label {
    display: block;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #444;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.checkbox-wrapper {
    display: flex;
    gap: 10px;
}

.form__input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
}

.form__input:hover {
    border-color: #71a7e2;
    transition: all 0.3s ease-in;
}

.form__input:focus {
    background-color: #d0e2f5;
}

.error-message {
    display: block;
    padding-top: 10px;
    color: red;
    font-size: 14px;
}

.error {
    border: 1px solid red;
}

.form-btn {
    width: 155px;
}

.input-group {
    gap: 5px;
    justify-content: space-between;
}

.delete-all__wrapper {
    text-align: right;
}

.table-wrapper {
    overflow-x: auto;
}

h1,
h2 {
    font-weight: 700;
    font-size: 24px;
}

body {
    background-color: #ffa8ec;
}

@media(max-width: 700px) {
    form {
        gap: 10px;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
    }


}